<h1>Log Ride</h1>
<%= form_for :ride_log_ride, :url => {:controller => "ride_log_ride", :action => "create"} do |f| %>

  Name: <%= f.text_field :name %><br>
  Date: <%= f.date_field :date %><br>
  Bike: <%= f.collection_select :bike_id, @bikes, :id, :name %><br>

  <%= f.submit %><br>
<% end %>
<%= link_to 'Cancel', action: :index %>