<div class='admin_tools'>
  <% if current_user %>
    Hello, <%= current_user.first_name %>.
    <% if @is_admin %>
      <%= link_to 'Add/Edit Post', ratrace_posts_path %>
      <%= link_to 'Home', greghome_path %>
    <% end %>
    <%= link_to 'Sign Out', destroy_user_session_path, method: 'DELETE' %>
  <% else %>
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
  <% end %>
</div>

<div class='frame countdown'>

  <div class='timer_element'>
    <div class="timer_digit weeks">0</div>
    <div class="timer_desc">Weeks</div>
  </div>

  <div class='timer_element'>
    <div class="timer_digit days">0</div>
    <div class="timer_desc">Days</div>
  </div>

  <div class='timer_element'>
    <div class="timer_digit hours">0</div>
    <div class="timer_desc">Hours</div>
  </div>

  <div class='timer_element'>
     <div class="timer_digit minutes">0</div>
    <div class="timer_desc">Minutes</div>
  </div>

  <div class='timer_element'>
    <div class="timer_digit seconds">0</div>
    <div class="timer_desc">Seconds</div>
  </div>

  <div class="center intro">
    <div class="intro-links">
      <a class="expander">Read all about it...</a>
      <%= link_to "Our Justgiving Page", "https://www.justgiving.com/fundraising/greg-jo-shailes", target: :blank %>
      <%= link_to "RatRace Site", "http://ratrace.com/coasttocoast/", target: :blank %>
    </div>
  </div>

  <div class='intro-para collapsed'>

    <div><%= image_tag 'C2C_20182-black-background.png' %></div>

    <p>In September 2018, we will be taking part in the Rat Race 'Coast to Coast' challenge, a two-day, 105-mile cycling, kayaking and running journey across the Scottish highlands.</p>

    <p>We're hoping to raise money for Macmillan Cancer Care. We were both so grateful for the support Macmillan nurses gave us through Greg's illness last year and want to be able to help Macmillan help more people through difficult times.</p>

    <p>Have a look at the <%= link_to "Rat Race web site", "http://ratrace.com/coasttocoast/", target: :blank %> to see what the event's all about. It's going to be a massive challenge for us. Neither of us are runners, and the chances of us co-ordinating ourselves together to propel a kayak in a straight line are pretty minimal. We're going to have to do a lot of training over the next ten months to get ourselves fit enough to complete the event. Keep an eye on this page for updates on how we're getting along!</p>

    <p>Check out our <%= link_to "Just Giving page", "https://www.justgiving.com/fundraising/greg-jo-shailes", target: :blank %> if you'd like to sponsor us!</p>

  </div>

</div>

<div class='frame'>

  <div class='feed'>
    <% alternate = false %>
    <% @posts.each do |post| %>
      <div class='feed_entry'>
        <div class='feed_title'>
          <%= post.title %>
          <div class='feed_date'>
            <%= post.pretty_created_at %> by <%= post.user.first_name %>
          </div>
        </div>
        <div class='feed_body'>
          <% if post.image %>
            <div class='feed_image <%= "alternate" if alternate %>'>
              <%= ('<img src="data:image/jpg;base64,%s">' % Base64.encode64(post.image.filedata)).html_safe %>
            </div>
            <% alternate = !alternate %>
          <% end %>
          <%= sanitize(post.formatted_body, tags: %w(p)) %>
          <% post.comments.each do |comment| %>
            <div class='feed_comment'>
              &ldquo;<%= comment.comment %>&rdquo; <span class='feed_comment_when'><%= comment.user.first_name || comment.user.email %>, <%= comment.when %></span>
                <%= link_to '', ratrace_post_comment_path(post, comment), method: :delete, class: 'delete_comment', data: {confirm: 'Delete your comment?'} %>
            </div>
          <% end %>
          <% if @current_user %>
            <div class='feed_add_comment'>
              <%= form_for :ratrace_post_comment, :url => ratrace_post_comments_path(post) do |f| %>
                <%= f.text_field :comment, placeholder: 'Add your comment', class: 'comment_box' %>
                <%= f.submit 'OK', class: 'tick_btn' %>
              <% end %>
            </div>
          <% else %>
            <div class="login_to_comment">
              <%= link_to "Log in with Facebook", user_facebook_omniauth_authorize_path %> to comment
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>