<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :description %>
  <%= f.input :amount, as: :decimal, autofocus: true   %>
  <%= f.input :deposit, as: :boolean %>
  <%= f.input :next_due_at, as: :date %>
  <%= f.input :interval, as: :integer %>
  <%= f.input :frequency, collection: ['Days', 'Weeks', 'Months'], include_blank: false %>
</div>

<div class="form-actions">
  <%= f.button :submit, 'Save Changes' %>
</div>
