<%= simple_form_for(@account) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :opening_balance %>
    <%= f.input :primary %>
  </div>

  <div class="form-actions">
    <% unless @account.new_record? %>
      <%= link_to 'Delete Account', @account, method: :delete, data: { confirm: 'Are you sure?' }, class: 'command-button' %>
    <% end %>
    <%= f.button :submit, 'Save Account', class: "command-button" %>
  </div>
<% end %>
