<p id="notice"><%= notice %></p>

<h1>
  <span><%= @account.name %></span>Transactions
</h1>

<% if @transactions.any? || @upcoming_bills.any? %>
  <div class='transactions-table'>

    <div class='table-row-header'>
      <span class="table-cell header">Date</span>
      <span class="table-cell header">Description</span>
      <span class="table-cell header">Amount</span>
      <span class="table-cell header">Balance</span>
    </div>

    <% unless @include_reconciled %>
      <div style="display: table-row">
        <span class="table-cell"></span>
        <span class="table-cell">Reconciled Total</span>
        <span class="table-cell"></span>
        <span class="table-cell amount"><%= @account.reconciled_balance + @account.opening_balance%></span>
      </div>
    <% end %>

    <% @transactions.each do |transaction| %>
      <% @balance += transaction.amount %>
      <%= link_to edit_finances_account_transaction_path(@account, transaction), class: "edit-transaction-link table-row#{transaction.reconciled ? ' reconciled' : ''}" do %>
        <span class="table-cell"><%= transaction.transaction_date.strftime('%d/%m/%Y') %></span>
        <span class="table-cell"><%= transaction.description %></span>
        <span class="table-cell amount<%= ' deposit' if transaction.amount > 0 %>"><%= transaction.amount.abs %></span>
        <span class="table-cell amount"><%= @balance %></span>
      <% end %>
    <% end %>

    <% @upcoming_bills.each do |bill| %>
      <% @balance += bill[:transaction].amount %>
      <%= link_to finances_account_bill_record_payment_path(@account, bill[:bill_id]), class: 'paid-bill-link table-row upcoming-bill' do %>
        <span class="table-cell"><%= bill[:transaction].transaction_date.strftime('%d/%m/%Y') %></span>
        <span class="table-cell"><%= bill[:transaction].description %></span>
        <span class="table-cell amount <%= 'deposit' if bill[:transaction].amount > 0 %>"><%= bill[:transaction].amount.abs %></span>
        <span class="table-cell amount"><%= @balance %></span>
      <% end %>
    <% end %>

  </div>
<% else %>
  <p>There are currently no transactions to show for this account.</p>
<% end %>

<div id='new-transaction-form' class='modal hidden'>
  <div class='modal--background'>
  </div>
  <div class='modal--form'>
    <%= simple_form_for @transaction_form, url: finances_account_transactions_path(@account, @transaction_form.transaction), method: :post do |f| %>
      <%= render partial: 'finances/transactions/form', finances_transaction: @transaction, locals: {f: f} %>
    <% end %>
  </div>
</div>

<div id='edit-transaction-form' class='modal hidden'>
  <div class='modal--background'>
  </div>
  <div class='modal--form'>

  </div>
</div>

<p>
  <% if @include_reconciled %>
    <%= link_to 'Show Reconciled', @account, class: "ticked-checkbox" %>
  <% else %>
    <%= link_to 'Show Reconciled', finances_account_path(@account) + "?full=1", class: "unticked-checkbox" %>
  <% end %>
</p>
<p>
  <%= link_to 'Export Transactions', export_finances_account_transactions_path(@account) %>
</p>
