<p id="notice"><%= notice %></p>

<h1>
  <span><%= @account.name %></span>
  Transactions
</h1>

<div class='transactions-table'>
  <div class='table-header-row'>
    <span>Description</span>
    <span class="amount">Amount</span>
    <span class="amount">Balance</span>
  </div>
  <% @rt = (@account.reconciled_balance || 0) + (@account.opening_balance || 0) %>
  <% @transactions.each do |transaction| %>
    <% @rt += transaction.amount %>
    <%= link_to edit_finances_account_transaction_path(@account, transaction), class: "table-row" do %>
      <span><%= transaction.description %></span>
      <span class="amount"><%= transaction.amount %></span>
      <span class="amount"><%= @rt %></span>
    <% end %>
  <% end %>
</table>
