<h1>New Bike</h1>
<%= form_for :ride_log_bike, :url => {:controller => "ride_log_bike", :action => "create"} do |f| %>

  Name: <%= f.text_field :name %><br>
  Details: <%= f.text_field :details %><br>

  <%= f.submit %><br>
<% end %>
<%= link_to 'Cancel', action: :index %>