<h1>Bike Details</h1>
Bike: <%= @bike.name %><br>
Details: <%= @bike.details %><br>
<br>
<%= link_to 'Edit', edit_ride_log_bike_path %> |
<%= link_to 'Delete', @bike, method: :delete, data: { confirm: 'Are you sure you want to delete this bicycle?'} %> |
<%= link_to 'Back', action: :index %>