<div class='header'>
  <span>Hello, <%= current_user.display_name %>!</span>
  <ul>
    <li>
      <%= link_to 'Go Back', ratrace_posts_url %>
    </li>
  </ul>
</div>

<h1 class='panel-header'>Edit Post</h1>
<div class='panel-body edit-post'>
  <%= form_for @post do |f| %>
    <%= f.text_field :title, class: 'input' %>
    <%= md_simple_editor do %>
      <%= f.text_area :body, label: false, class: 'input' %>
    <% end %>

    <div class='actions'>
      <%= link_to 'Delete Post', @post, method: :delete, data: { confirmation_message: 'Are you sure you want to delete this post?'} , class: 'lefty confirmation' %>
      <%= link_to 'Cancel', ratrace_posts_url %>
      <%= f.submit "Save" %>
    </div>
  <% end %>
</div>
