<%= form_for :ratrace_post, :url => ratrace_posts_path do |f| %>
  Title: <%= f.text_field :title %><br>
  Body: <%= f.text_area :body %><br>
  <%= f.submit %><br>
<% end %>

<ul>
  <% @posts.each do | post |%>
    <li>
      <%= link_to post.title, edit_ratrace_post_path(post.id) %>
    </li>
  <% end %>
</ul>
