<div class='admin_tools'>
  Hello, <%= current_user.first_name %>. <a href='/ratrace'>Go back</a>
</div>

<%= form_for :ratrace_post, :url => ratrace_posts_path do |f| %>
  Title: <%= f.text_field :title %><br>
  Body: <%= f.text_area :body %><br>
  <%= f.submit %><br>
<% end %>

<ul class='edit_posts_list'>
  <% @posts.each do | post |%>
    <li>
      <%= link_to edit_ratrace_post_path(post.id) do %>
        <strong><%= post.title %></strong>, by <%= post.user.first_name %> on <%= post.pretty_created_at %>
      <% end %>
    </li>
  <% end %>
</ul>
