<div class='admin_tools'>
  Hello, <%= current_user.first_name %>. <a href='/ratrace'>Go back</a>
</div>

<div class='panel left-align'>
  <%= form_for :ratrace_post, :url => ratrace_posts_path do |f| %>

    <div class='edit-post-label'>Title</div>
    <div class='edit-post-input'><%= f.text_field :title %></div>

    <div class='edit-post-label'>Body:</div>
    <div class='edit-post-input'><%= f.text_area :body %></div>

    <div class='edit-post-actions'>
      <label>Upload a file
        <span><%= f.file_field :image %></span>
      </label>
      <%= f.submit "Save" %></div>
    </div>

  <% end %>
</div>

<ul class='edit_posts_list'>
  <% @posts.each do | post |%>
    <li>
      <%= link_to edit_ratrace_post_path(post.id) do %>
        <strong><%= post.title %></strong> - <%= post.user.first_name %>, <%= post.short_created_at %>
      <% end %>
    </li>
  <% end %>
</ul>
