  <h1 class='panel-header'><%= @post.title %></h1>
  <h2 class='panel-sub-header'><%= @post.pretty_created_at %> by <%= @post.user.first_name %></h2>
  <input type="hidden" name="post_id" value="<%= @post.id.to_s %>">
  <div class='panel-body'>
    <% if @post.image %>
      <%= ('<img src="data:image/jpg;base64,%s">' % Base64.encode64(@post.image.filedata)).html_safe %>
    <% end %>
    <%= sanitize(@post.formatted_body, tags: %w(p)) %>
    <% @post.comments.each do |comment| %>
      <% comment_decorator = ::CommentDecorator.new(comment) %>
      <div class='comment'>
        <% if @current_user == comment.user %>
          <%= link_to(ratrace_post_comment_path(@post, comment), method: :delete, class: 'delete-comment confirmation', data: { confirmation_message: 'Delete your comment?' }) do %>
            <i class="fa fa-close"></i>
          <% end %>
        <% end %>
        &ldquo;<%= comment.comment %>&rdquo;
        <span><%= comment_decorator.commenter_name %>, <%= comment_decorator.humanized_recency %></span>
      </div>
    <% end %>
    <div class='comment add'>
      <% if @current_user %>
        <%= form_for :ratrace_post_comment, url: ratrace_post_comments_path(@post) do |f| %>
          <%= f.text_field :comment, placeholder: (@post.comments.any? ? 'Add your comment' : 'Be the first to comment!'), class: 'comment_box' %>
          <%= f.submit 'OK', class: 'tick-btn' %>
        <% end %>
      <% else %>
        Log in with your <%= link_to "Facebook", user_facebook_omniauth_authorize_path %>
        or <%= link_to "Google", user_google_omniauth_authorize_path %>
        account to add a comment!
      <% end %>
    </div>
  </div>