<div id="main-wrap">

  <% @rides.each do |ride| %>
    <div>
      <h1>Ride Details</h1>
      Ride: <%= ride.name %><br>
      Date: <%= ride.date %><br>
      Bike: <%= link_to ride.bike.name, ride.bike %><br>
      <br>
      <%= link_to 'Delete', ride, method: :delete, data: { confirm: 'Are you sure you want to delete this ride?'} %> |
      <%= link_to 'Back', action: :index %>
    </div>
  <% end %>
</div>
