<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :transaction_date, as: :datepicker, autofocus: true %>
  <%= f.input :amount, as: :decimal %>
  <%= f.input :description %>
  <%= f.input :deposit, as: :boolean, wrapper: :input_checkbox %>
  <%= f.input :reconciled, as: :boolean, wrapper: :input_checkbox %>
  <% if f.object.bill_id %>
    <%= f.input :bill_id, as: :hidden %>
  <% end %>
</div>

<div class="form-actions">
  <% if @transaction %>
    <%= link_to 'Delete', finances_account_transaction_path(@account, @transaction), method: :delete, data: { confirm: 'Are you sure?' }, class: 'command-button' %>
  <% end %>
  <%= f.button :submit, 'Save', class: "command-button" %>
</div>
