<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :description %>
  <%= f.input :amount %>
  <%= f.input :reconciled %>
</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>
