<ul class='menu'>
  <li class='new'><%= link_to 'Add Entry', new_diary_entry_path %></li>
  <% if @entries.any? %>
    <% @entries.each do |entry| %>
      <li class="<%= 'selected' if @entry == entry %>">
        <a href="<%= edit_diary_entry_path(entry.id) %>">
          <%= entry.title %><br>
          <span><%= entry.entry_date %></span>
        </a>
      </li>
    <% end %>
  <% end %>
</ul>