<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
		<title>
			Greg's Home Page
		</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=500">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<script src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
  </head>

	<body style='text-align: center' onload='document.getElementById("q").focus();'>
    <%= yield %>
  </body>
</html>
