<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
		<title>Home Page</title>
    <%= favicon_link_tag 'favicon.png' %>
    <meta name="viewport" content="initial-scale=1.5">
    <%= stylesheet_link_tag 'greghome', media: 'all', 'data-turbolinks-track': 'reload' %>
		<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <%= javascript_include_tag :application %>
  </head>

  <body class='<%= params[:controller] %>'>
    <%= yield %>
  </body>
</html>
