<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title>
      Greg &amp; Jo's Scottish Coast to Coast Challange
    </title>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag 'ratrace', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=640">
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <%= javascript_include_tag :application %>
  </head>

  <body class='<%= params[:controller] %>'>
    <div class='page'>
      <main>
        <%= yield %>
      </main>
      <%= render 'partials/confirm' %>
    </div>
  </body>

</html>
