<!DOCTYPE html>
<html>
  <head>
    <title>Greg</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'ride_log_bike', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery_ujs' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
