<!DOCTYPE html>
<html>
  <head>
    <title>Verify The Pie Or Not !</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=500">
    <%= favicon_link_tag 'favicon.png' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'verify_the_pies', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= params[:controller] %>'>
    <%= yield %>
  </body>
</html>
